<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Weekday Advice</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
     <div class="container">
         <img src="<%= image %>">
         <h1>
             Hey! It's <%= dayType %>, so <%= advice %>!!
         </h1>
         <h2>Today is <%= new Date().toLocaleString('en-us', { weekday: 'long' }).toLowerCase() %>.</h2>
     </div>
</body>
</html>
